.logo {
  width: 100px;
  height: 100px;
}
.navBar {
  display: flex;
  padding: 5px;
}
.navBar > h4 {
  margin: 5px;
}
.header {
  padding: 5px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.card-container {
  width: 193px;
  height: 600px;
  margin: 10px;
  padding: 5px;
  background-color: #d3d3d3;
}
.container :hover {
  border: 1px solid black;
}
.card-img {
  width: 100%;
  height: 50%;
}
.card {
  display: flex;
  flex-wrap: wrap;
}
.container-btn {
  margin: 10px;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card {
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
  margin: 10px;
}
.logIn-btn {
  margin: 10px;
  height: 60px;
  cursor: pointer;
}
.search-input {
  margin: 10px;
}
